.homepage {
    min-height: 99vh;
}

/* NAVIGATION */

.homepage .nav {
    position: fixed;
    top: 0;
    right: 10%;
    background: rgba(30, 24, 30, 0.4);
    backdrop-filter: blur(10px);
    width: fit-content;
    border: 1px solid var(--primary-color);
    clip-path: var(--ui-notch-both-path);
    z-index: 1000;
}

.homepage .nav ::before, .homepage .nav ::after {
    content: '';
    position: absolute;
    width: var(--ui-notch-hypotenuse);
    background-color: var(--primary-color);
    height: 3px;
    transform: rotate(-45deg);
    z-index: 1001;
}

.homepage .nav ::before {
    top: 5px;
    left: -5px;
}

.homepage .nav ::after {
    bottom: 5.5px;
    right: -5.2px;
}

.homepage .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.homepage .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
}

.homepage .nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.homepage .nav .nav-emphasis {
    background-color: var(--primary-color);
}

.homepage .nav ul .nav-emphasis a {
    color: var(--background-color);
}

.homepage .nav ul li:hover {
    background-color: var(--primary-color);
}

.homepage .nav ul li:hover a {
    color: var(--background-color);
}

/* BANNER */

.homepage .banner {
    width: 100%;
    min-height: 90vh;
    display: flex;
    background-color: rgb(5, 0, 57);
    background: url('./index-bg.jpg') no-repeat center center/cover rgba(5, 0, 57, 0.86);
    background-blend-mode: multiply;
    padding: 100px 60px 70px;
}

.homepage .banner-text {
    max-width: 40%;
}

.homepage .banner h2 {
    color: var(--tertiary-color);
    font-family: var(--font-secondary);
    font-weight: normal;
    text-shadow: none;
    font-size: 36px;
}

.homepage .banner h1 {
    color: white;
    text-shadow: none;
    font-size: 96px;
}

.homepage .banner p {
    color: white;
    font-size: 20px;
    max-width: 70%;
}

/* BUTTON */
.homepage  .btn {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-dark);
    padding: 15px 30px;
    cursor: pointer;
    clip-path: var(--ui-notch-path);
    position: relative;
    margin-top: 30px;
}

.homepage .btn ::after {
    content: '';
    position: absolute;
    width: var(--ui-notch-hypotenuse);
    background-color: var(--primary-color-dark);
    height: 3px;
    transform: rotate(-45deg);
    bottom: 5.5px;
    right: -4.5px;
}

.homepage .btn h3 {
    font-size: 20px;
}

.homepage .btn::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "JOIN THE REVOLUTION";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, var(--primary-color) 3%, var(--primary-color) 5%, var(--background-color) 5%);
 text-shadow: -3px -3px 0px var(--primary-color), 3px 3px 0px var(--primary-color);
 clip-path: var(--slice-0);
}

.homepage .btn:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}




/* KEYFRAMES */

/* Glitch for banner cta */
@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}